body {
	/* definerer standard skriftstørrelse og -type på nettstedet */
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	/* sentrerer text på siden */
	text-align: center;
}

#navbar {
	/* setter bakgrunnsfarge på navbar */
	background-color: #5F9EA0;
	/* avrunder hjørner på navbar */
	border-radius: 10px;
}

#navbar a {
	/* strekker navbar over hele skjermen */
	display: inline-block;
	/* setter hvit tekstfarge i navbar */
	color: #f2f2f2;
	/*text-align: center;*/
	/* lager luft rundt hver link */
	padding: 14px;
	/* setter fontstørrelse ihht skjermbredden */
	font-size: 2,2vw;
	/* fjerner understrekingen av linker i navbaren */
	text-decoration: none;
}

#navbar a:hover {
	/* gjør at linken i navbar skifter til hvit bakgrunn og sort tekst når musepeker holdes over */
	background-color: #ddd;
	color: black;
}
#navbar a.current {
	/* skifte farge på linken slik at den viser hvilken side som er aktiv */
	background-color: #5F9EA0;
	color: black;
}

#main {
	/* lager luft rundt innholdet */
	padding: 16px;
	/* sentrerer tekst på siden */
	text-align: center;
}

#plakat {
	/* bakgrunnsbilde på 'plakaten' */
	background-image: url("img/ark2.jpg");
	/* forteller hvor bildet skal festes */
	background-position: top left;
	/* strekker ut bakgrunnnsbilde til hele plakaten */
	background-size: cover;
	/* luft til høyre og venstre */
	padding: 20px;
	/* maks størrelse på plakaten */
	max-width: 850px;
	/* sentrerer plakaten */
	margin: auto;
	/* lager kant rundt plakaten */
	border: solid 1px black;
	/* avrunder hjørner på plakaten */
	border-radius: 25px;
	/* lager skygge bak plakaten */
	box-shadow: 10px 10px 10px grey;
	;
}
	
#skygge {
	/* teksteffekt på overskriften på plakaten */
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;  color: #5F9EA0;
}	

.bilder  {
	/* lager skygge på bilder som er merket class="bilder" i img-taggen */
	box-shadow: 10px 10px 10px grey;
	/* krymper bildene til max 100% av skjermbredden */
	max-width: 100%;
	/* gir bilder rett aspect ratio */
	height: auto;
	/* deneste tre midtstiller bilder på siden */
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bilder0  {
	/* setter størrelsen til 600px i utgangspunktet */
	width:650px;
	/* krymper bildene til max 100% av skjermbredden */
	max-width: 100%;
	/* gir bilder rett aspect ratio */
	height: auto;
	/* de tre neste midtstiller bilder på siden */
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.logo  {
	/* setter størrelsen på logo til 700px i utgangspunktet */
	width:700px;
	/* krymper logoen til max 100% av skjermbredden */
	max-width: 100%;
	/* gir logoen rett aspect ratio */
	height: auto;
	/* de tre neste midtstiller logoen på siden */
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#footer {
	/* bakgrunnsfarge på footer */
	background-color: #5F9EA0;
	/* tekstfarge på footer */
	color: white;
	/* setter litt mindre font for å unngå text-bryting på mobil */
	font-size: 16px;
	/* litt usikker på hvorfor, men denne gjør at footer blir tykkere */
	overflow: hidden;
	/* sentrer teksten, det sier seg vel selv... */
	text-align: center;
	/* avrunder hjørner på footer */
	border-radius: 10px;
}  

#copyright {
	/* setter litt mindre font for å unngå text-bryting på mobil */
	font-size: 16px;
	/* sentrer teksten, det sier seg vel selv... */
	text-align: center;
}  
.table, td {
	/* settes til 1px for å se layout på tabellen */
	border: 0px solid black;
	/* samler cellene i tabellen */
	border-collapse: collapse;
    margin-left: auto;
	margin-right: auto;
	padding: 5px;
	/* setter en fast størrelse på tabellen slik at den passer også på mobil */
	width: 100px;
	/* setter alle celler til lik størrelse */
	table-layout: fixed;
}
  