* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
/* definerer standard skriftstørrelse og -type på nettstedet */
    font-size: 1.1rem;
    line-height: 1.4;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(245, 239, 234);
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
	max-width: 100%
}

#headerwrapper {
    order: 1; /* Bestemmer dette elementets rekkefølge på skjermen */
    width: 100%;
    background-color: white;
	border-bottom: solid 1px black;
}

header {
    max-width: 1400px;
    margin: auto;
 }

header img {
	width: 500px; /* setter størrelsen på logo til 500px i utgangspunktet */
	max-width: 75%; /* krymper logoen til max 75% av skjermbredden på mindre skjermer*/
	height: auto; /* gir logoen rett aspect ratio */
	margin-left: 20px; /* forskyver logoen litt mot høyre */
}

#navwrapper {
    order: 2; /* Bestemmer dette elementets rekkefølge på skjermen */
    width: 100%;
    background-color: rgb(228, 178, 135);
    color: rgb(70, 42, 17); /* tekstfarge i menyen */
	border-bottom: solid 1px black;
    font-weight: bold;
    text-align: center;
}

#meny {
    max-width: 1400px;
    margin: auto;
}

#meny div button {
    /* skjuler åpne/lukke-knappene for menyen på store skjermer */
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

#close-menu:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

#meny ul {
    width: 100%;
    justify-content: space-evenly; 
    /* fjerner kulepunkt fra listeelementer i menyen */
    list-style: none;
    display: flex;
    /* sørger for at listeelementene i menyen ligger på en rekke */
    flex-wrap: no-wrap;
}

ul li {
    flex: auto;
}

#meny ul li {
    padding: 22px 0;
}

#meny ul li a {
    display: inline-block;
    padding: 0;
    text-decoration: none; /* fjerner understreking og fargen fra linkene i menyen */
    color: rgb(70, 42, 17);
    transition: all 0.3s ease;
}

#meny ul li a:hover {
    background-color: rgb(245, 239, 234);
}

#mainwrapper {
    order: 3; /* Bestemmer dette elementets rekkefølge på skjermen */
    width: 100%;
    border-bottom: solid 1px black;
}

main {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
}

article {
    /* sett width til 33% dersom det skal være tre article på fremsiden, sett til 50% dersom det kun er to */
    width: 50%;
    max-width: 500px;
    padding: 20px;
    text-align: justify;
}

article h3 {
    text-align: center; /* Sentrerer overskrifter til artikler*/
}

hr {
    visibility: hidden; /* skuler horisontal strek mellom artikler på store skjermer */
}

article a {
    display: inline-block;
    padding: 10px;
}

article.om {
    width: 50%; /* definer bredden for to artikler */
    max-width: 500px;
    padding: 20px;
    text-align: justify;
}

#kontakt {
    max-width: 1400px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

p {
	padding: 5px; /* lager luft rundt tekst */
}

#footerwrapper {
    order: 4; /* Bestemmer dette elementets rekkefølge på skjermen */
    width: 100%;
    background-color: rgb(228, 178, 135);
    border-bottom: solid 1px black;
}

#adressefooter {
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
}

.kart {
	/* lager kantlinje rundt kartet */
	border: solid 1px rgb(70, 42, 17);
	/* lager skygge */
	box-shadow: 10px 10px 10px rgb(70, 42, 17);
	position: relative;
	overflow: hidden;
	width: 600px;
	/* krymper kartet til max 90% av skjermbredden */
	max-width: 90%;
	/* bestemmer en fast høyde på kartet */
	height: 350px;
}

article .bilder {
    width: 80%; /* Bilder til artikkel har bredde max 80% av skjermen */
    max-width: 350px; /* Bilder til artikkel har en maksimal bredde på 350px */
    margin-bottom: 20px;
}

.bilder {
	/*lager kantlinje rundt bildene*/
	border:solid 1px rgb(70, 42, 17);
	/* lager skygge på bilder som er merket class="bilder" i img-taggen */
	box-shadow: 10px 10px 10px rgb(70, 42, 17);
	/* krymper bildene til max 100% av skjermbredden */
	max-width: 100%;
	/* gir bilder rett aspect ratio */
	height: auto;
    /* de neste tre sentrerer bildene inni div */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#adresse {
    width: 50%; /* setter bredden for adressefeltet */
    text-align: center; /* sentrerer tekst horisontalt */
    margin: auto; /* sentrerer tekst vertikalt */
}

#kart {
    width: 50%; /* setter bredden for kartfeltet */
    padding: 20px; /* legger til luft rundt kartet */
}

#copyright {
    width: 100%; /* setter bredden på copyright feltet */
    padding: 20px;/* legger til luft rundt teksten */
    text-align: center; /* sentrerer tekst horisontalt */
}

/*Bildegalleriet*/

#galleriet {
	/*gjør galleriet rasponsivt*/
	max-width: 1400px;
    display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div.gallery {
	border: none;
	width: fit-content;
	height: auto;
    display: inline-block;   
    text-align: center;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
  
div.gallery:hover {
    box-shadow: 0px 0px 15px black; /*lager skygge rundt bilder som hovrer*/
}
  
div.gallery img { /*bilder i galleriet*/
    width: 100%;
    max-width: 395px;
	height: auto;
}

div.gallery a {
    text-align: center;
}
  
div.desc { /*beskrivelsen under bilder i galleriet*/
	padding: 15px;
	text-align: center;
}

/*CSS som gjelder for små skjermer, mindre enn 1080px*/

@media all and (max-width: 1080px) {

    body.menu-open-body-lock { 
        overflow: hidden;
    }

    body {
        font-size: 1.5rem; /*Større skrift på små skjermer*/
    }
    
    #wrapper {
        flex-direction: column; /* Plasserer alle elementer etter hverandre nedover på små skjermer*/
    }

    #headerwrapper {
        order: 1; /* Bestemmer dette elementets rekkefølge på mobilskjerm */
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    #headerwrapper header {
        text-align: center; /* Plasserer logo sentrert på mobilskjerm */
        width: 100%;
    }

    header img {
        width: 250px; /* definerer logo til å være 250px på mobilskjerm */
    }

    #navwrapper {
        order: 2; /* Bestemmer dette elementets rekkefølge på mobilskjerm */
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1001;
        border: none;
        background: transparent;
        width: auto;
    }

    #mainwrapper {
        order: 3; /* Bestemmer dette elementets rekkefølge på mobilskjerm */
    }

    #footerwrapper {
        order: 4; /* Bestemmer dette elementets rekkefølge på mobilskjerm */
    }

    main {
       flex-wrap: wrap;
    }
    
    article,
    article.om {
        width: 100%; /* Setter bredden til artikler til 100% på mobilskjerm */
    }

    hr {
        visibility: initial; /* Setter visning av horisontal strek (mellom artikler på mobilskjerm) på */
    }

    #adressefooter {
        flex-wrap: wrap;
    }

    #adresse,
    #kart {
        width: 100%; /* Setter bredden til adressefelt og kart til 100% på mobilskjerm */
        text-align: center; /* Sentrerer teksten */
    }

}

/* Image Popup */
.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.popup-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  margin-top: 5%;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}