* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    flex-wrap: wrap;
}

body {
	/* definerer standard skriftstørrelse og -type på nettstedet */
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(245, 239, 234);
}

header {
    width: 100%;
    background-color: white;
	border-bottom: solid 1px black;
}

nav {
    width: 100%;
	/*litt kraftigere tekst i menyen*/
	font-weight: bolder;
}

article {
	width: 100%;
	border-bottom: solid 1px rgb(70, 42, 17);
	padding: 20px;
}

span {
	/*brukt for Åpningstider og Besøksadresse i bunnteksten på alle sider */
	width: 100%;
	padding-top: 20px;
}

.flyt p {
	/*gjør teksten i <article> på siden 'Om' til venstrejustert*/
	text-align: left;
}

.flyt img {
	/*plasserer bilder i <article> på siden 'Om' til venstre med teksten flytende rundt*/
	float: left;
	/*gir luft på høyresiden av bildet*/
	margin-right: 30px;
	/*gir luft under bildet*/
	margin-bottom: 20px;
	/*lager kantlinje rundt bildet*/
	border:solid 1px rgb(70, 42, 17);
}

main {
	/* sentrerer tekst på siden */
	text-align: center;
	width: 100%;
}

#galleriet {
	/*gjør galleriet rasponsivt*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-bottom: solid 1px rgb(70, 42, 17);
}

p {
	/*lager luft rundt tekst*/
	padding: 5px;
}

#adressefooter {
	width: 100%;
    /* bakgrunnsfarge på footer */
	background-color:rgb(228, 178, 135);
	/* sentrer teksten, det sier seg vel selv... */
	text-align: center;
   }  

#copyright {
	width: 100%;
    /* setter litt mindre font for å unngå text-bryting på mobil */
	font-size: 12px;
	/* sentrer teksten, det sier seg vel selv... */
	text-align: center;
	/*bakgrunnsfarge*/
	background-color:rgb(228, 178, 135);
}  

.bilder {
	/*lager kantlinje rundt bildene*/
	border:solid 1px rgb(70, 42, 17);
	/* lager skygge på bilder som er merket class="bilder" i img-taggen*/
	box-shadow: 10px 10px 10px rgb(70, 42, 17);
	/* krymper bildene til max 100% av skjermbredden*/
	max-width: 100%;
	/* gir bilder rett aspect ratio */
	height: auto;
	/* de neste tre midtstiller bilder på siden, tror denne er undvendig...
	ddisplay: block;
	mmargin-left: auto;
	mmargin-right: auto;*/
}

.kurs {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.kurs h3 {
	text-align: center;
}

.kurs li {
	margin-left: 35px;
	margin-bottom: 5px;
}

/*kart i footer*/

.kart {
	/*lager kantlinje rundt kartet*/
	border: solid 1px rgb(70, 42, 17);
	/* lager skygge*/
	box-shadow: 10px 10px 10px rgb(70, 42, 17);
	position: relative;
	overflow: hidden;
	width: 600px;
	/* krymper kartet til max 90% av skjermbredden */
	max-width: 90%;
	/*bestemmer en fast høyde på kartet*/
	height: 350px;
}

/*logo i header*/

header img {
	/* setter størrelsen på logo til 600px i utgangspunktet */
	width: 600px;
	/* krymper logoen til max 75% av skjermbredden */
	max-width: 75%;
	/* gir logoen rett aspect ratio */
	height: auto;
	/* forskyver logoen litt mot venstre*/
	margin-left: 10%;
}

/*Bildegalleriet*/

div.gallery {
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 400px;
	height: 560px;
}
  
  div.gallery:hover {
	border: 1px solid #777;
  }
  
  div.gallery img {
	max-width: 395px;
	height: auto;
  }
  
  div.desc {
	padding: 15px;
	text-align: center;
  }

/*styling til den nye menyen på liten skjerm*/

#meny ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

#meny ul li {
	/*menyen dekker hele skjermen ved små skjermer*/
    width: 100%; 
    text-align: center;
    border-style: none none solid none;
    margin-bottom: -2px;
    background-color: rgb(228, 178, 135);
}

#meny ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: rgb(70, 42, 17);
}

#meny ul li:hover {
	/*lager skygge rundt meny som hovrer*/
    box-shadow: 0px 0px 15px black;
	/*gjør at den menyen som det hovres over legger seg foran de andre*/
    z-index: 1;
	/*skifter bakgrunnsfarge på meny som hovrer*/
    background-color: rgb(245, 239, 234);
}

#meny div a img {
	/*plasserer bildet for å åpne/lukke menyen øverst til venstre*/
    position: absolute;
    left: 0px;
	/*sørger for å holde knappen synlig også ved hover over 'hjem'*/
    z-index: 2;
}

#meny_aapen {
    display: none;
}

#meny_aapen:target {
    display: initial;
}

/*CSS som gjelder for store skjermer, over 1024px*/

@media all and (min-width: 1024px) {
    /*ul.flex { ikke helt sikker på om denne er nødvendig eller ikke...
		display: flex;
		justify-content: center;
	}*/
	
	#meny_lukket {
        display: none;
    }

    #meny div a img {
        display: none;
    }

    #meny_aapen {
        display: initial;
    }

    #meny ul {
        flex-wrap: nowrap;
        position: initial;
    }

    #meny ul li {
        flex: auto;	
    }

    #meny ul li a {
        padding: 15px;
    }

    #meny {
        order: 1;
    }

    header {
        order: 0;
    }

    main {
        order: 2;
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
    }

	aside {
		order: 3;
		width: 100%;
	}

    footer {
        order: 4;
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		text-align: center;
	}
	
	#galleriet {
		/*gjør bildegalleriet responsivt*/
		display: flex;
		flex-wrap: wrap;
		/*sentrerer bildene på nettsiden ved endring av størrelese på siden*/
		justify-content: center;
	}
}